<div itemscope itemtype="{{ WEBPROTOCOL }}schema.org/NewsArticle" style="display: none">

    <div itemprop="headline">{{ oNews.title }}</div>
    <div itemprop="author">{{ author }}</div>
    <div itemprop="datePublished">{{ oNews.publication_date }}</div>
    <div itemprop="description">{{ oNews.announce }}</div>

    <div itemprop="publisher" itemscope itemtype="{{ WEBPROTOCOL }}schema.org/Organization">
        <div itemprop="name">{{ aOrganization.name ?: Site.domain() }}</div>
        <div itemprop="address">{{ aOrganization.address }}</div>
        <div itemprop="telephone">{{ aOrganization.phone }}</div>

        <div itemprop="logo" itemscope itemtype="{{ WEBPROTOCOL }}schema.org/ImageObject">
            <img alt="" itemprop="url" src="{{ aLogo.src }}" />
            <img alt="" itemprop="contentUrl" src="{{ aLogo.src }}" />
        </div>
    </div>

    <div itemprop="image" itemscope itemtype="{{ WEBPROTOCOL }}schema.org/ImageObject">
        <meta itemprop="width" content="{{ aImage.width }}" />
        <meta itemprop="height" content="{{ aImage.height }}" />
        <a itemprop="url" href="{{ aImage.src }}"></a>
        <a itemprop="contentUrl" href="{{ aImage.src }}"></a>
    </div>

    <meta itemprop="dateModified" content="{{ dateModified }}" />
    <a itemprop="mainEntityOfPage" href="{{ oNews.getUrl }}"></a>


</div>