<!--Согласие на обработку данных-->
<div class="form__col-1">
    <div class="form__item form__item--checkboxes form__item--agree">
        <div class="form__input-wrap">
            <div class="form__input form__input--checkbox">
                <input data-name="{{ Lang.get('forms.personal_data_accept') }}"
                       type="checkbox" id="check_ok_{{ formHash }}"
                       name="agreed" {% if checkActiveFormDefault or agreed %} checked="checked"{% endif %} />
                <div class="form__checkbox">
                    <label class="form__checkbox-trigger" for="check_ok_{{ formHash }}">
                        <span class="fa fa-check"></span></label>
                </div>
                <label class="form__checkbox-label" for="check_ok_{{ formHash }}">
                    <a target="_blank" href="[{{ privacyPolicySection }}]">{{ agreedTitle }}</a>
                </label>
            </div>
        </div>
    </div>
</div>

