<div class="catalogbox__param catalogbox__param__{{ name }}">
    {% if attrs.show_title == 1 %}<span>{{ title }}:</span>{% endif %}{% if value %}{{ Lang.get('page.yes') }}{% else %}{{ Lang.get('page.no') }}{% endif %}
    {{ attrs.measure }}
</div>