<div class="form__col-{{oField.getClassVal()}}">
    <div class="form__item form__item--label-{{oField.settings.labelPosition}} form__item--icon {{ oField.settings.classModify }}">
        {% if (oField.settings.labelPosition != 'right') %}
            <div class="form__label">{{oField.settings.title}}{% if oField.settings.required==1 %} <ins class="form__mark">*</ins>{% endif %}</div>
        {% endif %}
        <div class="form__input form__input--input {%  if oField.getError() %} form__item--error {% endif %} ">
            <input
                data-hash="{{templateForm.formHash}}"
                data-name="{{oField.settings.title}}"
                name="{{oField.settings.slug}}"
                id="{{oField.settings.slug}}_{{templateForm.formHash}}"
                value="{{oField.value|e}}"

                {% if oField.type.getTypeOfValidForTemplate() == 'digits' %}
                    type="number" pattern="[0-9]*"
                {% else %}
                    type="{{oField.type.getTypeOfValidForTemplate()}}"
                {% endif %}

                {% if oField.showDefaultPlaceholder() %}
                    placeholder="{% if oField.settings.required==1 %}{{ oField.settings.title~'*' }}{% else %}{{ oField.settings.title }}{% endif %}"
                {% endif %}

                {{oField.settings.specStyle}} />
            <div class="form__icon fas fa-check" style="display:none;"></div>
        </div>
        {% if (oField.settings.labelPosition == 'right') %}
            <div class="form__label">{{oField.settings.title}}{% if oField.settings.required==1 %} <ins class="form__mark">*</ins>{% endif %}</div>
        {% endif %}
        {% if oField.settings.description!='' %}<div class="form__info">{{oField.settings.description}}</div>{% endif %}
    </div>
</div>